ENVIRONMENT=development
SECRET_KEY=some_secret_key

POSTGRES_DB_NAME=postgres
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

APP_ENDPOINT=http://localhost:4200

ALLOWED_HOSTS=

REACT_APP_API_ENPOINT=http://0.0.0.0:8000

ELK_STACK_ON=

SENDGRID_API_KEY=
DEFAULT_FROM_EMAIL=
DEBUG_MAIL_RECIPIENT=

REACT_APP_API_URL=http://localhost:8000
REACT_APP_LANDING_URL=http://localhost:3000
REACT_APP_ROOT_URL=

SERVER_SENTRY_DSN=
